<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add a json</title>
</head>
<body>
    <h1>Actualizar dato</h1>
    <h2>Introduce un valor</h2>
    <form action="" method="POST" id="jsonForm">
        <label for="id">id:</label>
        <input type="text" id="id" name="id">
        <br>
        <label for="nombre_video">Nombre del video</label>
        <input type="text" id="nombre_video" name="nombre_video">
        <br>

        <!-- para la tabla Autor -->
        <label for="modificado_por">este json fue modificado por:</label>
        <input type="text" id="modificado_por" name="modificado_por">
        <br>
        <label for="vigenteInput">Vigencia</label>
        <input type="text" id="vigenteInput" name="vigenteInput">
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>